:root {
    font-family: 'Julius Sans One', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    width: 5rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1.5px solid black;
    border-bottom-color: rgb(0, 0, 0, 0.2);
}

.leftRow {
    display: flex;
    align-items: center;
}

.linkHome {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 2rem;
}

.rightRow {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-right: 1.2rem;
}

.button {
    all: unset;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background: currentColor;
    bottom: 0;
    left: 50%;
    transition: all 0.3s;
}

.button:hover::after {
    width: 100%;
    left: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 5rem;
    border-top: 1.5px solid black;
    border-top-color: rgb(0, 0, 0, 0.2);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filter-by {
    font-size: 2rem;
    text-shadow: 0.5px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000;
}

.filter-by-label {
    font-size: 1.6rem;
    text-shadow: 0.5px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000;
}

.filter-label {
    cursor: pointer;
}

.filter-checkbox {
    cursor: pointer;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.publishers {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.release-date {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.filter-button-label {
    cursor: pointer;
    transition: color ease-in-out;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.line {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    border-color: rgb(0, 0, 0, 0.2);

}

.mangas-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3.2rem;
    flex-basis: 52.7%;
}

.upper-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.manga-label {
    font-size: 2rem;
    text-shadow: 0.5px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000;
}

.search-bar {
    all: unset;
    display: flex;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 0.6rem;
    padding: 0.3rem;
}

.lower-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mangas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
}

.release {
    display: flex;
    flex-direction: column;
}

.go-to-manga {
    all: unset;
    cursor: pointer;
    max-width: 12rem;
}

.release-info {
    display: flex;
    flex-direction: column;
}

.release-image {
    width: 12rem;
    height: 17rem;
    transition: box-shadow 0.3s ease-in-out;
}

.release-image:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}